.all__blog{
  width: 100%;
  height: auto;
}
.all__blog__title{
  padding: 60px 0 30px 0;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.all__cards{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px 50px;
}
.all__card{
  width: 445px;
  margin: 10px;
}
.all__card img{
  width: 100%;
}
.all__card a{
  text-decoration: none;
  font-size: 14px;
}
.all__card h2{
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}
.all__blog p{
  font-size: 16px;
  color:  #667085;
  font-weight: 400;
  line-height: 24px;
}
.all__collection{
  display: flex;
  list-style: none;
}
.all__col__item{
  font-size: 14px;
  padding: 5px 7px;
  border-radius: 5px;
  transition: all 0.2s ease;
  cursor: pointer;
}
.all__col__item:hover{
  opacity: 60%;
}
.all__col__item:nth-child(1){
  color: #562eb4;
  background: #eee2ff;
  margin: 5px  10px 5px 0;
}
.all__col__item:nth-child(2){
  color: #182675;
  margin: 5px  10px;
  background: #b6c1ff;
}
