@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.blog-section {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.34);
  border-bottom: 1px solid rgba(0, 0, 0, 0.34);
}
.container {
  width: 1220px;
  margin: auto;
}
h1 {
  font-weight: 700;
  font-size: 243.8px;
  font-family: "Inter";
}
