@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

header {
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 120px;
  background-color: #fff;
  transition: all 0.2s ease;
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.8rem;
}

header div,
nav {
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.container.active1{
  background-color: #ffffffd3;
  backdrop-filter: blur(5px);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
nav a {
  margin: 0 1rem;
  text-decoration: none;
  transition: all 0.2s ease;
}
nav a:hover{
  opacity: 60%;
}
.open{
  display: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 26px;
}
.toggle-switch {
  position: relative;
  width: 80px;
  height: 20px;
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}

.switch-label {
  position: absolute;
  width: 85%;
  height: 40px;
  background-color: var(--dark);
  border-radius: 25px;
  cursor: pointer;
  border: 3px solid var(--dark);
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
  box-shadow: inset 12px -4px 0px 0px var(--light);
  background-color: var(--dark);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(30px);
  background-color: var(--dark);
  -webkit-box-shadow: none;
  box-shadow: none;
}
@media (max-width: 768px){
  header{
    padding: 0 60px;
  }
  header .nav{
    width: 320px;
    padding: 40px 0;
    position: absolute;
    flex-direction: column;
    top: 0px;
    right: -110%;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  nav a{
    font-size: 25px;
    margin: 20px 0px;
  }
  .toggle-switch{
    margin-top: 20px;
  }
  .open.close{
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .open{
    display: block;
  }
  .nav.active{
    right: 0%;
  }
}
@media (max-width: 500px){
  header{
    padding: 0 30px;
  }
}
@media (max-width: 375px){
  header .nav{
    width: 100%;
  }
}