.footer{
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    padding: 0 0 0 5%;
}
.footer div{
    display: flex;
}
.footer div p{
    margin: 0 6px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.footer div p:hover{
    opacity: 60%;
}